*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body main{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


header{
  display: flex;
  justify-content: space-between;
  background-color: white
  height: 80px;
}

nav ul{
display: flex;
}

.topbar-left{
  display: flex;
  align-items: center;
}

.topbar-right{
  display: flex;
  align-items: center;
}

li{
  list-style: none;
}

li a{
  text-decoration: none;
}

#jumbotron{
  background-color: lightblue;
  height: 740px;
  width: 100%;
}  

.container-large{
  width: 1000px;
  margin: 0 auto;
}
  

/* debug */
.debug header{
border: 1px solid black;
}

.debug nav{
  border: 1px solid black
}

.debug .logo{
  border: 1px solid black;
}

.debug .container-large{
  border: 1px solid black;
}