*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body main{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


header{
  display: flex;
  justify-content: space-between;
  background-color: white
  height: 80px;
}



nav ul{
display: flex;
}

.topbar-left{
  display: flex;
}

li{
  list-style: none;
  text-decoration: none;
  padding: 5px;
  
}

/* debug */
.debug header{
background-color: yellow;
border: 1px solid black;
}

.debug nav{
  border: 1px solid black
}

.debug .logo{
  border: 1px solid black;
}