*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.d-flex{
  display: flex;
}

/* HEADER */

header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 80px;
}

nav ul{
display: flex;
}

.topbar-left{
  display: flex;
  align-items: center;
}

.topbar-right{
  display: flex;
  align-items: center;
}

li{
  list-style: none;
  padding: 30px;
}

li a{
  text-decoration: none;
  color: black;
}

/* SECTION JUMBOTRON  */

#jumbotron{
  background-color: #b4d0e7;
  height: 740px;
  width: 100%;
}  

.container-large{
  width: 1200px;
  margin: 0 auto;
}

.container-small{
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

h1{
  font-size: 5rem;
  font-weight: 900;
  padding-top: 80px;
  padding-bottom: 50px;
}

.jumbo-text{
  width: 400px;
}

.jumbo-text > p{
  padding-right: 30px;
  font-weight: 500;
}

.link a{
  text-decoration: none;
  color: white;
  background-color: rgb(0, 60, 255);
  padding: 10px;
}

.prova{
  padding: 50px 0; 
}

.arrow{
  font-size: xx-large;
  padding-top: 40px;
}

.jumbo-img > img{
  width: 800px;
}

/* SECTION BUSINESS PLAN */

h2{
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.radio-btn{
  padding: 20px;
  padding-left: 0;
}

.column{
  width: calc(100% / 3 - 33px);
  height: 970px;
}

h3{
  font-size: 25px;
}

.price{
  font-size: 15px;
  font-weight: bold;
}

h3,h4,.price,.duration{
  padding: 20px;
}

.column li{
  padding: 25px;
}

.trial{
  padding: 20px;
}

.buy{
  padding: 30px;
}

i{
  color: rgb(0, 60, 255);
  font-weight: bolder; 
}


/* debug */
.column,
.container-small{
border: 1px solid black;
}
/*
.debug nav{
  border: 1px solid black
}

.debug .logo{
  border: 1px solid black;
}

.debug .container-large{
  border: 1px solid black;
}*/